@using test
@model IEnumerable<Staff>

@{
    ViewBag.Title = "Staff Index";
}

<h2>Role Index</h2>

@Html.ActionLink("Create new Staff", "Add")

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.Name</td>
            <td>@item.Role.roleName</td>
            <td>@Html.ActionLink("Edit", "Edit", new { item.id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { item.id })</td>
        </tr>
    }
</table>

